/* CSS for Portfolio */
/* styling for body */
.body {
  background-color: #000;
  font-family: sans-serif;
  padding-top: 70px;
}
/* End body styling, any other styling for body goes above this comment */

/* styling for navbar */
.navbar-inner {
  background: #000;
}
/* To make navbar brand teal when hovered */
.navbar-inner > .container-fluid > .navbar > a:hover {
  color: rgb(0, 128, 128);
}
/* styling the navbar brand */
.navbar-inner > .container-fluid > .navbar > a {
  font-family: Lobster;
  font-weight: bolder;
}
/* To make remaining contents in navbar teal when hovered */
.navbar-inner > .container-fluid > .navbar > .collapse > .navbar-nav > .active > .nav-link:hover {
  color: rgb(0, 128, 128);
}
/* To make the text on navbar */
.navbar-inner > .container-fluid > .navbar > a {
  color: rgb(0, 255, 255);
}
.navbar-inner > .container-fluid > .navbar > .collapse > .navbar-nav > .active > .nav-link {
  color: rgb(0, 255, 255);
}
/* End Navbar stylying. Any other navbar styling goes above this comment. */

/* CSS for Introductory section */
/* setting the background */
.wrapper {
  background: url(../images/Color-Black-Wallpapers-Widescreen.jpg);
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* settings for contents */
.content {
  text-align: center;
  padding: 150px;
}
/* styling the first heading */
.content h1 {
  color: rgb(0, 255, 255);
  font-family: Lobster;
  font-weight: bold;
}
/* styling for introductory paragraph */
.content p {
  color: #FFF;
  font-weight: bold;
}
/* End Introductory section styling, any other styling for introductory div goes above this comment */

/* Styling for About Me div */
/* styling for the entire container */
.about-div {
  text-align: center;
  padding: 30px;
  background-color: #000;
}
/* styling for the second heading */
.about-div h2 {
  color: rgb(0, 255, 255);
  font-family: Lobster;
  font-weight: bold;
}
/* styling for about paragraph */
.about-div p {
  color: #FFF;
  font-family: Open Sans;
  padding: 10px;
  text-align: justify;
}
/* styling for elements in our div */
.my-jumb {
  /* background: linear-gradient(#808080, #000, #808080); */
  border: 1px solid;
  border-radius: 5px;
}
/* still styling for the about me section */
#section {
  margin-bottom: 20px;
  margin-top: 20px;
}
/* End of styling for the about me section. Any other style for this section goes above this comment */

/* Styling for the skills section */
/* styling for the entire container */
.skills-div {
  text-align: center;
  padding: 30px;
  background-color: #000;
  margin-bottom: 10px;
}
/* styling for the header */
.skills-div h2 {
  color: rgb(0, 255, 255);
  font-family: Lobster;
  font-weight: bold;
  padding: 20px;
  margin-top: 10px;
}
/* styling for the images */
.skills-image {
  border-radius: 10%;
  padding: 10px;
}
/* styling for skills names */
.skills1 {
  background: red;
}
.skills2 {
  background: blue;
}
.skills3 {
  background: aqua;
}
.skills-name {
  font-size: 40px;
  min-height: 300px;
  width: 100%;
  background: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-template-areas: 
   "first-skill"
   "second-skill"
   "third-skill";
  margin-bottom: 30px;
  padding: 20px;
}
@media (max-width: 414px){
  .skills-name {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
     "first-skill"
     "second-skill"
     "third-skill";
  }
  .skills1,
  .skills2,
  .skills3 {
    background: #FFF;
    padding: 40px;
  }
}
/* End of skills section */

/* Styling for the portfolio section */
.portfolio-div {
  background-color: #000;
  /* text-align: center; */
  padding: 10px;
  margin-bottom: 30px;
  margin-top: -10px;
}
/* styling for the heading in the portfolio section */
.my-jumb h2 {
  text-align: center;
  color: rgb(0, 255, 255);
  font-family: Lobster;
  font-size: bold;
}
/* End styling for Portfolio section. Any other style goes above this comment */

/* Style for Contact section */
/* styling the entire div */
.contact-div {
  background-color: #000;
  padding: 30px;
  margin-bottom: 30px;
  margin-top: -30px;
  /* color: rgb(0, 255, 255); */
}
/* styling the immediate div */
.contact-jumb {
  padding: 30px;
  border: 1px solid;
  border-radius: 5px;
  /* margin: 20px -20px 20px -20px auto; */
  padding: 20px;
}
.contact-jumb h2{
  color: rgb(0, 255, 255);
  text-align: center;
  font-family: Lobster;
  font-size: bold;
}
.form-group {
  color: rgb(0, 255, 255);
}